<form nz-form [formGroup]="employeeAddForm" (ngSubmit)="submitForm($event,employeeAddForm.value)">
    <!-- usernam -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="name" placeholder="请输入姓名">
        <nz-form-explain *ngIf="employeeAddForm.get('name').dirty && employeeAddForm.get('name').errors">
          <ng-container *ngIf="employeeAddForm.get('name').hasError('required')">
            请填写姓名
          </ng-container>
          <ng-container *ngIf="employeeAddForm.get('name').hasError('minlength')">
            姓名长度最少为2位
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- gender -->
    <nz-form-item>
        <nz-form-label [nzSpan]="7">性别</nz-form-label>
        <nz-form-control [nzSpan]="12"> 
            <nz-radio-group formControlName="gender">
              <label nz-radio nzValue="0">男</label>
              <label nz-radio nzValue="1">女</label>
            </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    <!-- email -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="email" placeholder="请输入邮箱" type="email">
        <nz-form-explain *ngIf="employeeAddForm.get('email').dirty&&employeeAddForm.get('email').errors">
          <ng-container *ngIf="employeeAddForm.get('email').hasError('email')">
           E-mail输入格式不正确
          </ng-container>
          <ng-container *ngIf="employeeAddForm.get('email').hasError('required')">
            请输入E-mail
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- phone -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7">手机号码</nz-form-label>
      <div>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input placeholder="请输入手机号码" formControlName="phoneNumber">
          <nz-form-explain *ngIf="employeeAddForm.get('phoneNumber').dirty&&employeeAddForm.get('phoneNumber').hasError('pattern')">手机号码格式不正确</nz-form-explain>
        </nz-form-control>
      </div>
    </nz-form-item>
    <!-- joinDate -->
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24">入职时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker formControlName="joinDate"></nz-date-picker>
        <nz-form-explain *ngIf="employeeAddForm.get('joinDate').dirty&&employeeAddForm.get('joinDate').errors">
          <ng-container *ngIf="employeeAddForm.get('joinDate').hasError('date')">
            入职时间不能早于今天
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- add   button -->
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!employeeAddForm.valid">添加</button>
        <button nz-button (click)="resetForm($event)">重置</button>
      </nz-form-control>
    </nz-form-item>
  </form>