.losin-wrapper {
  width: 100%;
  height: 100%;
  background-image: url(https://ws3.sinaimg.cn/large/006tNc79ly1g02hyg0a1kj31lm0u075z.jpg);
  background-size: cover;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}